/* RESET*/
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

input {
    font: inherit;
    border: none;
}

button {
    font: inherit;
    border: none;
}

/*BASE STYLES*/
body {
    font-family: 'Playfair Display', sans-serif;
    background: rgb(225, 227, 230);
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    height: 50px;
    margin-bottom: 125px;
}

.company {
    font-size: 90px;
}

.homepage {
    background: #ffff;
    width: 400px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 90px;
}

.login {
    background: #f2f2f2;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 3px;
}

.form {
    width: 80%;
    margin: 0 auto;
    margin-top: auto;
}

.label {
    display: block;
    margin-bottom: 5px;
    margin-top: 30px;
}

.input {
    border: 1px solid rgba(0,0,0,0.15);
    width: 100%;
    border-radius: 4px;
    padding: 10px 15px;
}

.btn {
    padding: 15px 25px;
    cursor: pointer;
    background: #454545;
    width: 90%;
    border-radius: 5000px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 35px;
    transition: all 0.3s;
}

.btn:hover {
    background: #8b8b8b;
}

@media (max-width: 665px){
    .logo {
        margin-top: 15px;
        margin-bottom: 100px;
    }
    .company {
        font-size: 50px;
    }

}