/* RESET*/
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

input {
    font: inherit;
    border: none;
}

button {
    font: inherit;
    border: none;
}

/*BASE STYLES*/
body {
    font-family: 'Playfair Display', sans-serif;
    background: rgb(225, 227, 230);
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Login Page Styles*/

.llogo {
    height: 50px;
    margin-bottom: 125px;
}

.lcompany {
    font-size: 90px;
    color: rgb(38, 41, 47);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.15);
}
.lsub {
    font-size: 25px;
    margin-left: 65px;
    color: rgb(38, 41, 47);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.15);
}

.lhomepage {
    background: #ffff;
    width: 400px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 90px;
}

.llogin {
    background: #dadada;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lheader{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 3px;
    color: rgb(57, 62, 70);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.15);
}

.lform {
    width: 80%;
    margin: 0 auto;
    margin-top: auto;
}

.llabel {
    display: block;
    margin-bottom: 5px;
    margin-top: 30px;
}

.linput {
    border: 1px solid rgba(0,0,0,0.15);
    width: 100%;
    border-radius: 6px;
    padding: 10px 15px;
}

.lbtn {
    padding: 15px 25px;
    cursor: pointer;
    background: #454545;
    width: 90%;
    border-radius: 5000px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 35px;
    transition: all 0.3s;
}

.lbtn:hover {
    background: #8b8b8b;
}

/*Home Page Styles*/


.hlogo {
    height: 120px;
    padding-bottom: 100px;
    margin-bottom: 50px;
    background-color:#fff;
    width: 1500px;
    display: flex;
    flex-direction: row;
    
}

.hcompname {
    padding-left: 150px;
}

.hcompany {
    font-size: 50px;
    color: rgb(38, 41, 47);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.15);
    width: 500px;
    padding-left: 25px;
}
.hsub {
    font-size: 20px;
    margin-left: 65px;
    color: rgb(38, 41, 47);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.15);
}

.hwelcome {
    padding-right: 25px;
    background-color: #ffffff;
    height: 50px;
    width: 300px;
    margin-top: 25px;
    padding-left: 200px;
}

.huser {
    color: rgb(38, 41, 47);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.15);
    font-size: 30px;
    width: 400px;
    padding-left: 100px;
    padding-top: 10px;
}

.hnavpage {
    background: #ffff;
    width: 250px;
    height: 300px;
    padding-bottom: 520px;
    margin-right: 50px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}

.hhome {
    background: #dadada;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hheader {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 3px;
    color: rgb(57, 62, 70);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.15);
}

.hstack {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.hnav {
    font-size: 30px;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}

.hlist {
    width: 100%;
    align-self: center;
    margin-top: 20px;
    list-style: none;
}

.hli {
    margin-bottom: 15px;
    width: 100%;
    height: 50px;
}
.hlink {
    padding: 8px 20px;
    width: 100%;
    margin: 20px;
    color: #454545;
    text-decoration: none;
    transition: color 0.3s;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.15);
}

.hschedule {
    background: #ffff;
    width: 650px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
    overflow: hidden;
    flex-direction: column;
    margin-left: 50px;
    border-style: hidden;
    border: 1px solid;
}
.htable {
    border: 1px solid;
    padding: 5px;
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}

.hbody {
    border: 1px solid;
}

.hth {
    width: 100%;
    height: 15px;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid;
    
}

.hli:hover {
    background-color: #8b8b8b;
    color: #000000;
}

/*Account Page Style*/

.alogo {
    height: 120px;
    padding-bottom: 100px;
    margin-bottom: 50px;
    background-color:#fff;
    width: 1500px;
    display: flex;
    flex-direction: row;
    
}

.acompname {
    padding-left: 150px;
}

.acompany {
    font-size: 50px;
    color: rgb(38, 41, 47);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.15);
    width: 500px;
    padding-left: 25px;
}
.asub {
    font-size: 20px;
    margin-left: 65px;
    color: rgb(38, 41, 47);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.15);
}

.awelcome {
    padding-right: 25px;
    background-color: #ffffff;
    height: 50px;
    width: 300px;
    margin-top: 25px;
    padding-left: 200px;
}

.auser {
    color: rgb(38, 41, 47);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.15);
    font-size: 30px;
    width: 400px;
    padding-left: 100px;
    padding-top: 10px;
}

.anavpage {
    background: #ffff;
    width: 250px;
    height: 300px;
    padding-bottom: 520px;
    margin-right: 50px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}

.ahome {
    background: #dadada;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aheader {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 3px;
    color: rgb(57, 62, 70);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.15);
}

.astack {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.anav {
    font-size: 30px;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}

.alist {
    width: 100%;
    align-self: center;
    margin-top: 20px;
    list-style: none;
}

.ali {
    margin-bottom: 15px;
    width: 100%;
    height: 50px;
}
.alink {
    padding: 8px 20px;
    width: 100%;
    margin: 20px;
    color: #454545;
    text-decoration: none;
    transition: color 0.3s;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.15);
}

.apage{
    display: flex;
}

.aacform {
    background: #ffff;
    width: 300px;
    height: 300px;
    padding-bottom: 520px;
    margin-right: 50px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.aavform {
    background: #ffff;
    width: 300px;
    height: 300px;
    padding-bottom: 520px;
    margin-right: 50px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.aform {
    padding: 7px;
}

.alabel {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    background: #dadada;
    padding: 5px;   
    color: rgb(57, 62, 70);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.15);
}

.ainput {
    border: 1px solid rgba(0,0,0,0.15);
    width: 100%;
    border-radius: 6px;
    padding: 10px;
    height: 20px;
}

.aday {
    width: 100%;
}

.asave {
    padding-top: 10px;
    font-size: 20px;
    
}

/*Manager Account Styles*/

.maaccountemployee {
    display: flex;
    flex-direction: row;

}

.maemployees {
    background: #ffff;
    width: 580px;
    height: 300px;
    padding-bottom: 520px;
    margin-right: 50px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.malable {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-bottom: 3px;
    color: rgb(57, 62, 70);
    background: #dadada;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.15);
}

.maemployeetable {
    border: 1px solid;
    border-collapse: collapse;
    padding: 3px
}

.macreate {
    background: #ffff;
    width: 300px;
    height: 300px;
    padding-bottom: 520px;
    margin-right: 50px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
    overflow: hidden;
}

.mainput {
    border: 1px solid rgba(0,0,0,0.15);
    width: 100%;
    border-radius: 6px;
    padding: 10px;
    height: 20px;
}


/*Media*/

@media (max-width: 665px){
    .llogo {
        margin-top: 15px;
        margin-bottom: 100px;
    }
    .lcompany {
        font-size: 50px;
    }

    .hlogo {
        margin-top: 15px;
        margin-bottom: 100px;
    }

}