/* RESET*/
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

input {
    font: inherit;
    border: none;
}

button {
    font: inherit;
    border: none;
}

/*BASE STYLES*/
body {
    font-family: 'Playfair Display', sans-serif;
    background: rgb(225, 227, 230);
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Login Styles*/

.llogo {
    height: 50px;
    margin-bottom: 125px;
}

.lcompany {
    font-size: 90px;
    color: rgb(38, 41, 47);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.15);
}
.lsub {
    font-size: 25px;
    margin-left: 65px;
    color: rgb(38, 41, 47);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.15);
}

.lhomepage {
    background: #ffff;
    width: 400px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 90px;
}

.llogin {
    background: #dadada;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lheader{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 3px;
    color: rgb(57, 62, 70);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.15);
}

.lform {
    width: 80%;
    margin: 0 auto;
    margin-top: auto;
}

.llabel {
    display: block;
    margin-bottom: 5px;
    margin-top: 30px;
}

.linput {
    border: 1px solid rgba(0,0,0,0.15);
    width: 100%;
    border-radius: 6px;
    padding: 10px 15px;
}

.lbtn {
    padding: 15px 25px;
    cursor: pointer;
    background: #454545;
    width: 90%;
    border-radius: 5000px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 35px;
    transition: all 0.3s;
}

.lbtn:hover {
    background: #8b8b8b;
}

/*Home Page Styles*/


.hlogo {
    height: 50px;
    padding-bottom: 100px;
    margin-bottom: 50px;
    
}

.hcompany {
    font-size: 50px;
    color: rgb(38, 41, 47);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.15);
}
.hsub {
    font-size: 20px;
    margin-left: 65px;
    color: rgb(38, 41, 47);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.15);
}

.hnavpage {
    background: #ffff;
    width: 250px;
    height: 300px;
    padding-bottom: 520px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}

.hhome {
    background: #dadada;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hheader {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 3px;
    color: rgb(57, 62, 70);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.15);
}

.hstack {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.hnav {
    font-size: 30px;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}

.hlist {
    width: 100%;
    align-self: center;
    margin-top: 20px;
    list-style: none;
}

.hli {
    margin-bottom: 15px;
    width: 100%;
    height: 50px;
}
.hlink {
    padding: 8px 20px;
    width: 100%;
    margin: 20px;
    color: #454545;
    text-decoration: none;
    transition: color 0.3s;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.15);
}

.hschedule {
    background: #ffff;
    width: 600px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
    overflow: hidden;
    flex-direction: column;
    margin-left: 50px;
}

.hli:hover {
    background-color: #8b8b8b;
    color: #000000;
}



/*Media*/

@media (max-width: 665px){
    .llogo {
        margin-top: 15px;
        margin-bottom: 100px;
    }
    .lcompany {
        font-size: 50px;
    }

    .hlogo {
        margin-top: 15px;
        margin-bottom: 100px;
    }

}