
h1{
    color:rgb(55, 59, 53);
    font-family:'Times New Roman', Times, serif;
    text-align: left;
    font-size: 400%;
};
textarea{
    color:rgb(55, 59, 53);
     font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 300%;
};

